<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Period Estimator</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="CSS/Master.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Main CSS-->
        <link href="css/main.css" rel="stylesheet" media="all">
        <link href="css/index.css" rel="stylesheet" media="all">
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body background="sid">
    <div class="invisible">
        <h1 th:text="${PerStart}" id="PerStart"></h1>
        <h1 th:text="${PerEnd}" id="PerEnd"></h1>
        <h1 th:text="${OvuStart}" id="OvuStart"></h1>
        <h1 th:text="${OvuEnd}" id="OvuEnd"></h1>
        <h1 th:text="${MostFert}" id="MostFert"></h1>
        <h1 th:text="${NextPeriod}" id="NextPeriod"></h1>
    </div>
   
    <div class="des">
        <br>
        <h3>Hello</h3>
        <h2 th:text=" ${Name} "></h2>
      </div>
    
    <div id="datepicker1"></div>
      <br>
      <br>
      <center>
    <a href="/"> <button class="btn btn--pill btn--green" type="submit">Reset</button></a></center>

    <script type="text/javascript" src="js/output.js"></script>
    
</body>
<footer>@Period Estimator</footer>
</html>